/* Glogal Styles */
body {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(left, #f2fcfe, #1c92d2);
  background: -o-linear-gradient(left, #f2fcfe, #1c92d2);
  background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  background: #2980e9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #ffffff;
  height: 40px;
  line-height: 40px;
  color: #666;
  cursor: pointer;
}

li:nth-child(2n){
  background: #f7f7f7;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

input {
  font-size: 18px;
  color: #2980e9;
  background-color: #f7f7f7;
  /* width: 100%; */
  padding:13px 13px 13px 20px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

input:focus {
  background: white;
  border: 3px solid #2980e9;
  outline: none;
}

::placeholder {
  opacity: 0.7;
}

button {
    background: transparent;
    color: gray;
    padding: 15px;
    width: 20%;
    font: 600 16px Roboto;
    border: none;
    cursor: pointer;
}

span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}


/* Todo List Styles  */
#container {
  margin: 100px auto;
  width: 360px;
  background: #f7f7f7;
  box-shadow: 0 0 1em rgba(0,0,1,0.5);
}

.fa-plus {
  float: right;
  cursor: pointer;
}

.done {
  color: gray;
  text-decoration: line-through;
}


#inputField.toggleAddTask {
  display: none;
  opacity: 0;
  transition: opacity 2s ease-in-out,
              display 2s ease-in-out;
}
